// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


// Backgrounds
body.welcome_bg {
  background: linear-gradient(#2EC4B6, #FFBF69);
  min-height: 100vh;
}

body.view_bg {
  background: linear-gradient(#CBF3F0, #FFBF69);
  min-height: 100vh;
}

body.set_edit_bg {
  background: linear-gradient(#CBF3F0, #FFDEB1);
  min-height: 100vh;
} 


// Navbar
.navbar {
  background-color: #2EC4B6;
  color: #ffffff; /* テキストの色 */
    a{
        color: #ffffff;
        &:hover {
            color: #d4d4d4; /* ホバー時の色 */
        }
    }
}

/* スマホでも横並びにする */
@media (max-width: 767px) {
  .navbar-nav.d-flex {
      flex-direction: row !important; /* 画面サイズが小さくても横並びを維持 */
  }
}

.app_name h1 {
  text-align: center;
}


// Buttons
button {
  height: 50px;
  border-radius: 8px;
  font-size: 16px;
}

.buttons {
  text-align: center;
}
.button_trans button {
  width: 280px;
  background-color: transparent;
  color: #ffffff;
  border: none;
  outline: solid;
}

.button_trans button:hover {
  background-color: #ffffff57;
}

.button_white button {
  width: 280px;
  background-color: #ffffff;
  color: #2EC4B6;
  border: none;
  outline: none;
}

.button_white_sm button {
  width: 100%;
  background-color: #ffffff;
  color: #2EC4B6;
  border: none;
  outline: none;
}

.button_white button:hover {
  background-color: #ffffffb1;
}

.button_white_sm button:hover {
  background-color: #ffffffb1;
}

.button_green button {
  width: 280px;
  background-color: #2EC4B6;
  color: #ffffff;
  border: none;
  outline: none;
}

.button_green_sm button {
  width: 100%;
  background-color: #2EC4B6;
  color: #ffffff;
  border: none;
  outline: none;
}

.button_green button:hover {
  opacity: 0.7;
}

.button_green_sm button:hover {
  opacity: 0.7;
}


// Back Button
.back_button a {
  color: #2EC4B6;
  text-decoration: none;
  font-size: 24px;
  position: absolute; /* 絶対位置指定 */
  top: 70px; 
  right: 20px; 
  z-index: 1050; /* navbarより前面に表示 */
}

.back_button a:hover {
  opacity: 0.7;
}


// a タグ
a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  opacity: 0.6;
}

.event_name a {
  color: black;
}

.event_name a:hover {
  opacity: 0.5;
}

.country_name a:hover {
  opacity: 0.7;
}


// Form
.form_container {
  display: flex;
  justify-content: center;
}

.form_container form {
  width: 80%;
  max-width: 500px;
}

.form_container input {
  border-radius: 5px;
  border: none;
  box-shadow: 1px 1px 4px #00000033;
}

.form_img input {
  background-color: #ffffff;
}

textarea {
  border-radius: 5px;
  border: none;
  box-shadow: 1px 1px 4px #00000033;
  padding: 0 10px;
}

.form_container select {
  border-radius: 5px;
  border: none;
  box-shadow: 1px 1px 4px #00000033;
  height: 35px;
  padding: 0 10px;
}

.form_md input {
  width:100%;
  height: 35px;
  padding: 0 10px;
}

.form_md {
  display: flex;
  flex-direction: column; /* 子要素を縦に並べる */
  margin-bottom: 1rem; /* 適度な間隔を追加 */
}

.form_md label {
  margin-bottom: 0.5rem; /* ラベルと入力欄の間に余白を追加 */
}

textarea {
  width: 100%;
}

label.required {
  display: inline;  /* 幅を固定するためにブロック化 */
  width: 120px;           /* ラベルの幅を統一 */
  text-align: left;       /* 左揃え */
}

.required::before {
  content: " *"; /* 必須マークを追加 */
  color: red;    /* 色を赤に */
  font-weight: bold;
}

// modals
.modal button {
  width: 100px;
}


// small_events
@media (max-width: 768px) { /* 768px以下のスクリーン幅に適用 */
  .small_events .event_picture img {
      width: 130px; /* 幅を100pxに */
      height: 80px; /* アスペクト比を維持 */
      object-fit: cover;
  }

  p {
    font-size: 14px;
  }
}